:root {
  --light-blue: #4285F4;
  --lighter-blue: #ADCCEB;
  --dark-blue: #3A74D6;
  --light-grey: #E8E8E9;
  --dark-grey: grey;
  --label-width: 80px;
  --form-width: 380px;
}

html, body, #root, .container {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
}
